@font-face {
	font-family: "Jersey 10";
	src: url(../assets/fonts/Jersey10-Regular.ttf);
}

@font-face {
	font-family: "Pixelify Sans";
	src: url(../assets/fonts/PixelifySans-VariableFont_wght.ttf);
}

:root {
	--primary: #ff2d55;
	--secondary: #9c0a26;
	--blue: #00639a;
	--green: #5ce65c;
	--dark: #5e0a0a;
	--light: #f5f5dc;
	--black: #000;
	--white: #fff;
	--FW: 100vw; /* set to full-width */
	--FH: 100vh; /* set to full-height */
}

body {
	width: var(--FW);
	height: var(--FH);
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Jersey 10", sans-serif;
	background-color: var(--light);
}

h1 {
	font-family: "Pixelify Sans", sans-serif;
	text-transform: uppercase;
	font-size: 4rem;
	margin: 0;
}

p {
	margin: 0;
	font-size: 1rem;
}

button {
	padding: 0;
	border: 0;
	font-family: "Jersey 10", sans-serif;
	text-transform: uppercase;
}

button:not(.close):not(.helper):hover > img {
	cursor: pointer;
	filter: brightness(0.7);
}

footer {
	position: absolute;
	bottom: 1rem;
}
