:root {
    --primary: #ff2d55;
    --secondary: #9c0a26;
    --blue: #00639a;
    --dark: #5e0a0a;
    --light: #f5f5dc;
    --black: #000;
    --white: #fff;
    --FW: 100vw; /* set to full-width */
    --FH: 100vh; /* set to full-height */
}

body {
    width: var(--FW);
    height: var(--FH);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > div,
.game-grids-container > div {
    margin: 1em;
}

.game-grids-container {
    display: flex;
    justify-content: space-between;
}

.main-grid,
.secondary-grid {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    justify-content: center; /* align board center horizontally */
    border: 1px solid var(--blue);
    max-width: 380px;
}

.sqr {
    width: 70px;
    aspect-ratio: 1/1;
    border: 3px outset var(--blue);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.obstacle {
    background-color: var(--black);
}

.helpers {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrows {
    text-align: center;
    padding: 1rem;
    align-content: center;
}
